*.o
*.d
*.bin
.cproject
.project
.gdb_history
kernel/kernel.iso
kernel/kernel.bin
kernel/kernel.map
cscope*
isodir
toolchain/i686-elf-4.9.1-Linux-x86_64/
*~
bochsdbg.txt
bochsout.txt
serial.txt
toolchain/*
sysroot/*
overlay/*

filelist
